# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="file:./dev.db"
JWT_SECRET="change-this-secret"
JWT_EXPIRES_IN="1h"

admin_username="admin"
admin_email="admin@email.com"
admin_password="admin123"

WEBHOOK_URL="http://localhost:4001"
# you can use also https://webhook.site to create a temporary URL for testing
# WEBHOOK_URL="https://webhook.site/unique-id"
WEBHOOK_SECRET="this-is-a-very-secret-key"